html {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  min-height: 100%;
  display: flex;
  justify-content: center;

  color: #dad4d4;
  font-family: monospace, sans-serif;
  background: url(otaku_logo.png);
  background-repeat: no-repeat;
  background-color: #131212;
  background-position-x: center;
  background-position-y: 117px;
  background-blend-mode: color;
}

@media screen and (min-width: 500px) {
  body {
    background-position-y: 517px;
  }
}

button {
  height: 40px;
  font-size: 20px;
  font-family: monospace, sans-serif;
}

#enter {
  background: #2735f5;
  border: 0;
  color: white;
}

#guess {
  background: #6020d8;
  border: 0;
  color: white;
}

#maxNumber {
  padding: 5px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-top: 50px;
  padding: 15px;
}
.wrapper > p {
  margin: 0;
  height: 45px;
}

@media screen and (max-width: 500px) {
  .wrapper {
    width: 91%;
  }
}

.stats-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px;
}
.stats-wrapper > p {
  margin: 0;
}

.option-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
}

#guessInput {
  margin-top: 40px;
  margin-bottom: 5px;
  padding: 8px;
  font-size: 25px;
}

.creator-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px;
}
